# mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# vscode
.vscode/
*.code-workspace
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# python
__pycache__/
*.pyc

**/cph/
*.cph/

*.dSYM/

*.out
*.o
*.exe
*.obj

input.txt
output.txt
error.txt
*.swp